.name {
  color: #2e659c;
}

.keyword {
  color: #397460;
}

.operator, .ow {
  color: #8f4e8b;
}

.type, .mi, .constant {
  color: #4f4371;
}

.string {
  color: #366354;
}

.cm, .c1 {
  color: #666;
}
