body {
  background: #eee;

  .row {
    max-width: 860px;

    .speech {
      margin-top: 68px;
      position: relative;

      @media (max-width: 899px) {
        margin-top: 11px;
      }

      h1, h2, h3, h4, h5, h6 {
        text-rendering: optimizeLegibility;
        font-weight: 600;
      }

      header {
        display: inline-block;
        width: 100%;
        margin-bottom: -2px;

        #head, #dots, .dot {
          float: left;
        }

        #head {
          margin-left: 2px;
          position: relative;
          z-index: 3;
        }

        #dots {
          background: white;
          padding: 10px;
          height: 52px;
          margin-left: 16px;
          margin-top: -2px;
          position: relative;

          .up-arrow {
            border: 10px solid transparent;
            border-right-color: white;
            display: block;
            position: absolute;
            left: -19px;
            top: 17px;
          }

          .dot {
            display: block;
            width: 32px;
            height: 32px;
            margin-right: 10px;
            background-size: 32px 32px;
            background-repeat: no-repeat;
            text-indent: -9999px;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              opacity: 1;
            }

            &#github {
              background-image: url(/s/img/github.png);
            }

            &#linkedin {
              background-image: url(/s/img/linkedin.png);
            }

            &#new-post {
              background-image: url(/s/img/newpost.png);
            }
          }
        }

        #head {
          background-position: center left;
          background-repeat: no-repeat;
          background-image: url(/s/img/otter.png);
          background-size: 48px 37px;
          width: 48px;
          height: 48px;
          opacity: 0.9;
          text-indent: -9999px;
          display: block;
          margin-bottom: 9px;

          &:hover {
            opacity: 1;
          }
        }

        .arrow {
          border: 10px solid transparent;
          border-bottom-color: white;
          display: block;
          position: absolute;
          left: 26px;
          top: 41px;

          @media (min-width: 40em) {
            left: 31px;
          }
        }
      }

      .bubble {
        background: white;
        padding: 45px;
        margin-bottom: 10px;

        &.last-bubble {
          padding: 25px;
        }

        h1, h2, h3, h4, h5, h6 {
          &:first-child {
            margin-top: 0;
          }

          &.site-title {
            font-weight: 400;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

footer {
  padding: 10px 20px 20px;
  font-size: 13px;
  color: #666;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body .row .speech header {
    #head {
      background-image: url(/s/img/otter@2x.png);
    }

    #dots .dot {
      &#github {
        background-image: url(/s/img/github@2x.png);
      }

      &#linkedin {
        background-image: url(/s/img/linkedin@2x.png);
      }

      &#new-post {
        background-image: url(/s/img/newpost@2x.png);
      }
    }
  }
}
