.blog-post, .error {
  // font-family: freight-text-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.8);

  .post-title, .error-title {
    margin-bottom: 25px;
    margin-top: 0 !important;

    .edit-link, .delete-form button {
      font-size: 60%;
      vertical-align: 4px;
    }

    .delete-form {
      display: inline;

      button {
        margin-bottom: 0;
        background: none;
        color: #008cba;
        padding: 0;

        &:hover {
          color: #0078a0;
        }

        &:active {
          outline: 0;
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.6rem 0 1.2rem;
  }

  h1, h2, h3 {
    margin-top: 1.4rem !important;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #eee;
  }

  code, pre {
    font-family: Hasklig, "Source Code Pro", "DejaVu Sans Mono", monospace;
    text-rendering: optimizeLegibility;
    font-size: 0.9em;
  }

  code {
    border: 0;
  }

  p {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    font-style: italic;
    color: #555;
    border-left: none;

    p {
      margin-bottom: 9px;
    }

    footer {
      padding: 0;
    }
  }

  figure {
    color: #4e4e4e;
    background: #f3f3f3;
    margin-bottom: 18px;
    overflow-x: auto;

    pre {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 15px;
      line-height: 1.42857143;
      color: #444;
      word-break: break-all;
      word-wrap: break-word;
      background-color: transparent;
      border: none;
      border-radius: 0px;
    }

    table {
      border: 0;
      background: #f0f0f0;
      margin-bottom: 0;
      width: 100%;

      .linenos {
        background: #e5e5e5;
        padding: 6px 9px;
        text-align: right;
      }

      td.code {
        padding: 0 10px;
      }
    }
  }

  aside.metadata {
    font-style: italic;
    text-align: right;
  }
}
